/*TELAS*/
.allScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C5C5C5;
    height: 100vh;
}
.signUp{
 
    height: 90vh;
   width: 65vh;
    background-color: #039BE5;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;
    align-content: center;
    text-align: center;
}
.signIn{
    align-content: center;
   height: 90vh;
   width: 110vh;
    background-color: white;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
    justify-content: center;
    text-align: center;
}
.logs{
    border: 10px solid #C5C5C5; 
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*TEXTOS*/
.text1{
    color: white;
    font-size: 2.3vh;
}
.welcome{
font-size: 7vh;
color: white;
}
.login{
    font-size: 7vh;
    color: #039BE5;
}

/*BOTOES*/
.create{
    font-size: 2.5vh;
    color: white;
    border: 1px solid #ffffff; /* Largura e cor da borda */
    padding: 10px 20px;
    background-color: #039BE5;
    border-radius: 5vh;
    cursor:pointer; /* Cursor de ponteiro ao passar o mouse */
    border-color: #ffffff;
      
}
.create:hover {
    background-color: #035266; /* Azul mais escuro */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Sombra mais pronunciada */
}
.enter{
    font-size: 2.5vh;
    color: #ffffff;
    border: 1px solid #039BE5; /* Largura e cor da borda */
    padding: 10px 20px;
    background-color: #039BE5;
    border-radius: 5vh;
    cursor:pointer; /* Cursor de ponteiro ao passar o mouse */
    border-color: #039BE5;
    width: 17vh;
      
}
.enter:hover {
    background-color: #ffffff; /* Azul mais escuro */
    color: #039BE5;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Sombra mais pronunciada */
}
.forget{
    font-size: 1.3vh;
    color: #039BE5;
    border-color: #ffffff;
    background-color: #ffffff;
    cursor:pointer; /* Cursor de ponteiro ao passar o mouse */
    box-shadow:#039BE5;
      
}
.forget:hover {
    background-color: #ffffff; /* Azul mais escuro */
    color: #039BE5;
    box-shadow:#039BE5;
}
.fas{
color: #039BE5;
width: 24px; /* Largura do ícone */
height: 24px; /* Altura do ícone */
fill: #4CAF50;
}